<ul class="list-group icon-list">
  <li>
    <a class="icon-link" href="https://drive.google.com/drive/folders/1KkHQnXh5H8MdXS64wAUCVNACAPGABdAS?usp=sharing" target="_blank">
      <i class="icon i-1-1-4">
        <svg><use xlink:href="{{site.baseurl}}/images/icons.svg#google-drive" /></svg>
      </i>
      <span class="icon-label hidden">Google Drive</span>
    </a>
  </li>
  <li>
    <a class="icon-link" href="https://www.dndbeyond.com/campaigns/630725" target="_blank">
      <i class="icon i-1-1-4">
        <svg><use xlink:href="{{site.baseurl}}/images/icons.svg#dnd-beyond" /></svg>
      </i>
      <span class="icon-label hidden">DnD Beyond</span>
    </a>
  </li>
  <li>
    <a class="icon-link" href="{{site.baseurl}}/calendar/">
      <i class="icon i-1-1-4">
        <svg><use xlink:href="{{site.baseurl}}/images/icons.svg#calendar" /></svg>
      </i>
      <span class="icon-label hidden">Calendar</span>
    </a>
  </li>
  {% if site.data.view-controls.dm-view == true %}
  <li>
    <a class="icon-link" href="{{site.baseurl}}/dm-notes/">
      <i class="icon i-1-1-4">
        <svg><use xlink:href="{{site.baseurl}}/images/icons.svg#settings" /></svg>
      </i>
      <span class="icon-label hidden">DM Notes</span>
    </a>
  </li>
  {% endif %}
</ul>
