<nav id="{{include.id}}" class="{{ include.navClass }}">
  <ul class="list-group">
    <li>
      <a href="{{site.baseurl}}/items/">Items</a>
    </li>
    <li>
      <a href="{{site.baseurl}}/factions/">Factions</a>
    </li>
    <li>
      <a href="{{site.baseurl}}/locations/">Locations</a>
    </li>
    <li>
      <a href="{{site.baseurl}}/npcs/">NPCs</a>
    </li>
    <li>
      <a href="{{site.baseurl}}/stores/">Stores</a>
    </li>
  </ul>
</nav>
