<nav id="{{include.id}}" class="{{ include.navClass }}">
  <ul class="list-group{% if include.id == 'nav' %} gutter pad-t pad-b{% endif %}">
    {% if include.id == 'nav' %}
    <li>
      <a href="{{site.baseurl}}/">Home</a>
    </li>
    {% endif %}
    <li>
      <a {% if page.url contains 'items' %}class="current"{% endif %}href="{{site.baseurl}}/items/">Items</a>
    </li>
    <li class="has-subnav">
      <a {% if page.url contains 'factions' %}class="current"{% endif %}href="{{site.baseurl}}/factions/">Factions</a>
      {% if include.id == 'nav' %}
      <a class="child-opener-level-one" href="#sub-factions">
        <i class="icon i-1-1-4">
          <svg><use xlink:href="{{site.baseurl}}/images/icons.svg#right-indicator" /></svg>
        </i>
        <span class="icon-label hidden">Open</span>
      </a>
      <div id="sub-factions" class="gutter pad-t pad-b subnav-level-one">
        <a class="back-button inline-block" href="#">
          <i class="icon i-1">
            <svg><use xlink:href="{{site.baseurl}}/images/icons.svg#left-indicator" /></svg>
          </i>
          <span class="icon-label">Back</span>
        </a>
        <strong class="block subnav-heading text-fff pad-t push-2">Factions</strong>
        <ol class="list-group">
          {% for faction in site.factions %}
          {% if faction.loopExclude != true and faction.discovered == true or faction.loopExclude != true and site.data.view-controls.dm-view == true %}
          <li>
            <a href="{{site.baseurl}}{{faction.url}}">{{ faction.title }}</a>
          </li>
          {% endif %}
          {% endfor %}
        </ol>
      </div>
      {% endif %}
    </li>
    <li class="has-subnav">
      <a {% if page.url contains 'families' %}class="current"{% endif %}href="{{site.baseurl}}/families/">Families</a>
      {% if include.id == 'nav' %}
      <a class="child-opener-level-one" href="#sub-families">
        <i class="icon i-1-1-4">
          <svg><use xlink:href="{{site.baseurl}}/images/icons.svg#right-indicator" /></svg>
        </i>
        <span class="icon-label hidden">Open</span>
      </a>
      <div  id="sub-families" class="gutter pad-t pad-b subnav-level-one">
        <a class="back-button inline-block" href="#">
          <i class="icon i-1">
            <svg><use xlink:href="{{site.baseurl}}/images/icons.svg#left-indicator" /></svg>
          </i>
          <span class="icon-label">Back</span>
        </a>
        <strong class="block subnav-heading text-fff pad-t push-2">Families</strong>
        <ol class="list-group">
          {% for family in site.families %}
          {% if family.loopExclude != true and family.discovered == true or family.loopExclude != true and site.data.view-controls.dm-view == true %}
          <li>
            <a href="{{site.baseurl}}{{family.url}}">{{ family.title }}</a>
          </li>
          {% endif %}
          {% endfor %}
        </ol>
      </div>
      {% endif %}
    </li>
    <li class="has-subnav">
      <a {% if page.url contains 'locations' %}class="current"{% endif %}href="{{site.baseurl}}/locations/">Locations</a>
      {% if include.id == 'nav' %}
      <a class="child-opener-level-one" href="#sub-locations">
        <i class="icon i-1-1-4">
          <svg><use xlink:href="{{site.baseurl}}/images/icons.svg#right-indicator" /></svg>
        </i>
        <span class="icon-label hidden">Open</span>
      </a>
      <div  id="sub-locations" class="gutter pad-t pad-b subnav-level-one">
        <a class="back-button inline-block" href="#">
          <i class="icon i-1">
            <svg><use xlink:href="{{site.baseurl}}/images/icons.svg#left-indicator" /></svg>
          </i>
          <span class="icon-label">Back</span>
        </a>
        <strong class="block subnav-heading text-fff pad-t push-2">Locations</strong>
        <ol class="list-group">
          <li class="has-subnav">
            <a class="has-child-level-two" href="{{site.baseurl}}/locations/#districts">Districts</a>
            <a class="child-opener-level-two" href="#sub-districts">
              <i class="icon i-1">
                <svg><use xlink:href="{{site.baseurl}}/images/icons.svg#right-indicator" /></svg>
              </i>
              <span class="icon-label hidden">Open</span>
            </a>
            <div id="sub-districts" class="gutter pad-t pad-b subnav-level-two">
              <a class="back-button inline-block" href="#">
                <i class="icon i-1">
                  <svg><use xlink:href="{{site.baseurl}}/images/icons.svg#left-indicator" /></svg>
                </i>
                <span class="icon-label">Back</span>
              </a>
              <strong class="block subnav-heading text-fff pad-t push-2">Districts</strong>
              <ol class="list-group">
                {% for district in site.locations %}
                {% if district.loopExclude != true and district.layout == 'district' and district.discovered == true or district.loopExclude != true and district.layout == 'district' and site.data.view-controls.dm-view == true %}
                <li>
                  <a href="{{site.baseurl}}{{district.url}}">{{ district.title }}</a>
                </li>
                {% endif %}
                {% endfor %}
              </ol>
            </div>
          </li>
          <li class="has-subnav">
            <a class="has-child-level-two" href="{{site.baseurl}}/locations/#landmarks">Landmarks</a>
            <a class="child-opener-level-two" href="#sub-landmarks">
              <i class="icon i-1">
                <svg><use xlink:href="{{site.baseurl}}/images/icons.svg#right-indicator" /></svg>
              </i>
              <span class="icon-label hidden">Open</span>
            </a>
            <div id="sub-landmarks" class="gutter pad-t pad-b subnav-level-two">
              <a class="back-button inline-block" href="#">
                <i class="icon i-1">
                  <svg><use xlink:href="{{site.baseurl}}/images/icons.svg#left-indicator" /></svg>
                </i>
                <span class="icon-label">Back</span>
              </a>
              <strong class="block subnav-heading text-fff pad-t push-2">Landmarks</strong>
              <ol class="list-group">
                {% for district in site.locations %}
                {% if district.loopExclude != true and district.layout == 'landmark' and district.discovered == true or district.loopExclude != true and district.layout == 'landmark' and site.data.view-controls.dm-view == true%}
                <li>
                  <a href="{{site.baseurl}}{{district.url}}">{{ district.title }}</a>
                </li>
                {% endif %}
                {% endfor %}
              </ol>
            </div>
          </li>
        </ol>
      </div>
      {% endif %}
    </li>
    <li>
      <a {% if page.url contains 'npcs' %}class="current"{% endif %}href="{{site.baseurl}}/npcs/">NPCs</a>
    </li>
    <li class="has-subnav">
      <a {% if page.url contains 'stores' %}class="current"{% endif %}href="{{site.baseurl}}/stores/">Stores</a>
      {% if include.id == 'nav' %}
      <a class="child-opener-level-one" href="#sub-stores">
        <i class="icon i-1-1-4">
          <svg><use xlink:href="{{site.baseurl}}/images/icons.svg#right-indicator" /></svg>
        </i>
        <span class="icon-label hidden">Open</span>
      </a>
      <div  id="sub-stores" class="gutter pad-t pad-b subnav-level-one">
        <a class="back-button inline-block" href="#">
          <i class="icon i-1">
            <svg><use xlink:href="{{site.baseurl}}/images/icons.svg#left-indicator" /></svg>
          </i>
          <span class="icon-label">Back</span>
        </a>
        <strong class="block subnav-heading text-fff pad-t push-2">Stores</strong>
        <ol class="list-group">
          {% assign storeCats = "apothecaries, artificers, bars, blacksmiths, bookstores, brothels, clothing-stores, food, general-stores, shipyards, stables, stalls, tattoo-parlours" | split: ", " %}
          {% for cat in storeCats %}
          <li class="has-subnav">
            <a class="has-child-level-two" href="{{site.baseurl}}/stores/">{{ cat | capitalize | replace: "-", " " }}</a>
            <a class="child-opener-level-two" href="#sub-{{cat}}">
              <i class="icon i-1">
                <svg><use xlink:href="{{site.baseurl}}/images/icons.svg#right-indicator" /></svg>
              </i>
              <span class="icon-label hidden">Open</span>
            </a>
            <div id="sub-{{cat}}" class="gutter pad-t pad-b subnav-level-two">
              <a class="back-button inline-block" href="#">
                <i class="icon i-1">
                  <svg><use xlink:href="{{site.baseurl}}/images/icons.svg#left-indicator" /></svg>
                </i>
                <span class="icon-label">Back</span>
              </a>
              <strong class="block subnav-heading text-fff pad-t push-2">{{ cat | capitalize | replace: "-", " " }}</strong>
              <ol class="list-group">
                {% for store in site.stores %}
                {% if store.type == cat %}
                <li>
                  <a href="{{site.baseurl}}{{store.url}}">{{ store.title }}</a>
                </li>
                {% endif %}
                {% endfor %}
              </ol>
            </div>
          </li>
          {% endfor %}
        </ol>
      </div>
      {% endif %}
    </li>
    <!-- <li>
      <a {% if page.url contains 'stores' %}class="current"{% endif %}href="{{site.baseurl}}/stores/">Stores</a>
    </li> -->
    {% if site.data.view-controls.dm-view == true %}
    <li class="has-subnav">
      <a {% if page.url contains 'events' %}class="current"{% endif %}href="{{site.baseurl}}/events/">Events</a>
      {% if include.id == 'nav' %}
      <a class="child-opener-level-one" href="#sub-events">
        <i class="icon i-1-1-4">
          <svg><use xlink:href="{{site.baseurl}}/images/icons.svg#right-indicator" /></svg>
        </i>
        <span class="icon-label hidden">Open</span>
      </a>
      <div id="sub-events" class="gutter pad-t pad-b subnav-level-one">
        <a class="back-button inline-block" href="#">
          <i class="icon i-1">
            <svg><use xlink:href="{{site.baseurl}}/images/icons.svg#left-indicator" /></svg>
          </i>
          <span class="icon-label">Back</span>
        </a>
        <strong class="block subnav-heading text-fff pad-t push-2">Events</strong>
        <ol class="list-group">
          {% for event in site.events %}
          {% if event.loopExclude != true %}
          <li>
            <a href="{{site.baseurl}}{{event.url}}">{{ event.title }}</a>
          </li>
          {% endif %}
          {% endfor %}
        </ol>
      </div>
      {% endif %}
    </li>
    {% endif %}
  </ul>
</nav>
