---
layout: content-overview
title: Districts
permalink: /:collection/port-george/districts/

---
<section id="districts-map" class="pad-t-2 pad-b-2">
  <div class="wrapper gutter">
    <h2>Districts Map</h2>
    <a href="{{site.baseurl}}/images/port-george-map.jpg" target="_blank">
      <img class="img-flex" src="{{site.baseurl}}/images/port-george-map.jpg" alt="Map of Port George">
    </a>
  </div>
</section>
<section id="district-list" class="wrapper pad-t-2 pad-b-2">
  <div class="gutter">
    <h2>Districts List</h2>
  </div>
  <ol class="grid grid-stretch list-group island-1-2">
    {% for districts in site.locations %}
    {% unless districts.url == page.url %}
    {% if districts.url contains 'districts' %}
    <li class="unit [ xs-1 m-1-2 ] island-1-2">
      <a class="card-preview" href="{{site.baseurl}}{{ districts.url }}">
        <div class="card-preview-img" {% if districts.img %}style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .5)), url('{{districts.img}}')"{% endif %}>
          <h3 class="giga push-0">{{ districts.title }}</h3>
        </div>
        <div class="card-preview-content">
          {% if districts.desc %}
          <p>{{ districts.desc }}</p>
          {% else %}
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          {% endif %}
          <span class="link-mimic">Learn more.</span>
        </div>
      </a>
    </li>
    {% endif %}
    {% endunless %}
    {% endfor %}
  </ol>

</section>
