<div class="stat-block island">
  <header>
    <strong class="title giga push-1-2 block font-secondary text-primary">{{ include.title }}</strong>
    <p class="desc">{{ include.desc }} | <span>Pg. {{ include.mm-pg }}</span></p>
  </header>
  <dl class="combat-stats">
    <dt>AC:</dt>
    <dd>{{ include.ac }}</dd>
    <dt>HP:</dt>
    <dd>{{ include.hp }}</dd>
    <dt>Speed:</dt>
    <dd>{{ include.speed }}</dd>
  </dl>
  <dl class="ability-scores">
    <dt class="str">STR</dt>
    <dd class="str">{{ include.str }} ({{ include.str | minus: 10 | divided_by: 2 }})</dd>
    <dt class="dex">DEX</dt>
    <dd class="dex">{{ include.dex }} ({{ include.dex | minus: 10 | divided_by: 2 }})</dd>
    <dt class="con">CON</dt>
    <dd class="con">{{ include.con }} ({{ include.con | minus: 10 | divided_by: 2 }})</dd>
    <dt class="int">INT</dt>
    <dd class="int">{{ include.int }} ({{ include.int | minus: 10 | divided_by: 2 }})</dd>
    <dt class="wis">WIS</dt>
    <dd class="wis">{{ include.wis }} ({{ include.wis | minus: 10 | divided_by: 2 }})</dd>
    <dt class="cha">CHA</dt>
    <dd class="cha">{{ include.cha }} ({{ include.cha | minus: 10 | divided_by: 2 }})</dd>
  </dl>
  <dl class="non-combat">
    <dt>Skills:</dt>
    <dd>{{ include.skills }}</dd>
    <dt>Senses:</dt>
    <dd>{{ include.senses }}</dd>
    <dt>Languages:</dt>
    <dd>{{ include.languages }}</dd>
    <dt>Challenge:</dt>
    <dd>{{ include.cr }}</dd>
  </dl>
  <div class="abilities">
    {% for abilities in include.abilities %}
    <p><strong>{{ abilities.title }}.</strong> {{ abilities.desc }}</p>
    {% endfor %}
  </div>
  <div class="actions">
    {% for actions in include.actions %}
    <p><strong>{{ actions.title }}.</strong> <span class="italic">{{ actions.type }}:</span> {{ actions.desc }}</p>
    {% endfor %}
  </div>
</div>
