---
layout: content-overview
---
{% comment %} Variable Checking {% endcomment %}

{% for qCheck in site.data.side-quests %}{% if qCheck.city-ref == page.city-ref and qCheck.district-ref == page.district %}{% assign quests = qCheck.title %}{% break %}{% endif %}{% endfor %}

<div class="content-grid wrapper">
  <nav class="page-nav island">
    <strong class="block giga push-1-2 text-primary font-secondary">{{ page.title | escape }}</strong>
    <ol class="list-group">
      {% for sections in page.sections %}
        <li class="content-group push-1-2 pad-b-1-2">
          <a class="bold" href="#{{ sections.title | downcase | replace: " ", "-" }}"> {{sections.title}}
          {% unless sections.title == "Introduction" %}
            <ol class="page-nav-sub push-0 list-group milli gutter-1-4">
              {% for content in sections.content %}
                <li>
                  <a href="#{{ content.title | downcase | replace: " ", "-" }}">{{ content.title }}</a>
                </li>
              {% endfor %}
            </ol>
          {% endunless %}
        </li>
      {% endfor %}
      {% if page.url contains "district" and page.noStores != true %}
      <li class="content-group push-1-2 pad-b-1-2">
        <a class="bold" href="#stores">Stores</a>
        <ol class="page-nav-sub push-0 list-group milli gutter-1-4">
          {% for store-types in site.data.stores.store-types %}
            {% assign loopNumber = 0 %}
            {% for stores in site.data.stores.stores %}
              {% if stores.type-ref == store-types.code and stores.city-ref == page.city-ref and stores.district-ref == page.district %} {% comment %} Checks to ensure correct City {% endcomment %}
                {% if loopNumber == 0 %}
                <li>
                  <a href="#{{store-types.type}}">{{store-types.type | capitalize | replace: "-", " " }}</a>
                </li>
                {% endif %}
                {% assign loopNumber = loopNumber | plus: 1 %}
              {% endif %}
            {% endfor %}
          {% endfor %}
        </ol>
      </li>
      {% endif %}
      {% if quests %}
      {{quests}}
      {{page.url}}
      <li class="content-group push-1-2 pad-b-1-2">
        <a class="bold" href="#side-quests">Side Quests</a>
      </li>
      {% endif %}
      <li class="back-to-top">
        <a class="milli" href="#main">Back to Top</a>
      </li>
    </ul>
  </nav>
  <div class="page-content island">
    {% for sections in page.sections %}
    <section id="{{ sections.title | downcase | replace: " ", "-" }}">
      <h2>{{sections.title}}</h2>
      {% if sections.content[0].title %}
        {% for content in sections.content %}
        <div class="section-multi-content">
          <h3 id="{{ content.title | downcase | replace: " ", "-" }}">{{ content.title }}</h3>
          {% if content.reference %}
          <p>See: <a class="" href="{{ content.reference.url }}">{{ content.reference.text }}</a></p>
          {% endif %}
          {% if content.discovered or sections.title == 'Introduction' or site.data.view-controls.player-view == false %}
            {{ content.content | markdownify }}
          {% else %}
            <p>PCs have not discovered this information.</p>
          {% endif %}
        </div>
        {% endfor %}
      {% else %}
        {% if sections.discovered or sections.title == 'Introduction' or site.data.view-controls.player-view == false %}
          {{ sections.content | markdownify }}
        {% else %}
          <p>PCs have not discovered this information.</p>
        {% endif %}
      {% endif %}
    </section>
    {% endfor %}
    {% if page.url contains "district" and page.noStores != true %}
    <section id="stores" class="stores">
      <h2>Stores</h2>
      {% for store-types in site.data.stores.store-types %}
        {% assign loopNumber = 0 %}
        {% for stores in site.data.stores.stores %}
          {% if stores.type-ref == store-types.code and stores.city-ref == page.city-ref and stores.district-ref == page.district %} {% comment %} Checks to ensure correct City {% endcomment %}
            {% if loopNumber == 0 %}
            <div id="{{store-types.type}}" class="stores-group">
              <h3 class="text-titlecase">{{store-types.type | capitalize | replace: "-", " " }}</h3>
              <div class="stores-group-stores">
            {% endif %}
              {% capture storeLink %}{{ stores.title | replace: " ", "-" | remove: "'" | downcase }}{% endcapture %}
                <div id="{{ storeLink }}" class="stores-info">
                  <h4>{{ stores.title }}</h4>
                  <p><span class="bold">Owner:</span> {{ stores.owner }}</p>
                  {% if stores.discovered == true or site.data.view-controls.player-view == false %}
                    {{ stores.content | markdownify }}
                  {% endif %}
                </div>
            {% assign loopNumber = loopNumber | plus: 1 %}
          {% endif %}
        {% endfor %}
        {% unless loopNumber == 0 %}
            </div>
          </div>
        {% endunless %}
      {% endfor %}
    </section>
    {% endif %}
    {% if page.url contains "district" %}
    <section id="side-quests" class="side-quests">
      <h2>Side Quests</h2>
      {% for sQuests in site.data.side-quests %}
      {% if sQuests.city-ref == page.city-ref and sQuests.district-ref == page.district %}
        <div class="card island">
          <h3>{{ sQuests.title }}</h3>
          <p>Contact:
            {% for contact in site.data.npcs %}
              {% if sQuests.contact == contact.npc %}
              {{ contact.name }}
              {% endif %}
            {% endfor %}
          </p>
          {{ sQuests.overview | markdownify }}
          {% if sQuests.notes %}
          <h4>Notes:</h4>
          {{ sQuests.notes | markdownify }}
          {% endif %}
        </div>
        {% endif %}
      {% endfor %}
    </section>
    {% endif %}
    {% if page.store and page.url contains 'npcs' %}
    {% for stores in site.data.stores.stores %}
      {% if stores.title == page.store %}
        {% capture storeLink %}{{ stores.title | replace: " ", "-" | remove: "'" | downcase }}{% endcapture %}
        <div id="{{ storeLink }}" class="stores-info">
          <h4>{{ stores.title }}</h4>
          {% if stores.discovered == true or site.data.view-controls.player-view == false %}
            {{ stores.content | markdownify }}
          {% endif %}
        </div>
      {% endif %}
    {% endfor %}
    {% endif %}
    {% if page.player-notes %}
      <aside id="player-notes" class="player-notes">
        <h2>PC Notes</h2>
        {{ page.player-notes.general | markdownify }}
        <div class="comments">
          <h3>Comments</h3>
          {% for pcComments in page.player-notes.individual %}
          <blockquote class="pc-comment island-1-2">
            <p class="push-1-2">{{ pcComments.content }}</p>
            <cite class="pad-t-1-2">
              <b class="text-primary">{{ pcComments.pc }}</b> - Session {{ pcComments.session }}
            </cite>
          </blockquote>
          {% endfor %}
        </div>
      </aside>
    {% endif %}
  </div>
</div>
