<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }} · {% endif %}Georgian Politics</title>
  <meta name="handheldfriendly" content="true">
  <meta name="mobileoptimized" content="240">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
</head>
<body>

  {% include patterns/header.liquid %}

  <main id="main" role="main">
    {{ content }}
  </main>

  {% include patterns/footer.liquid %}
  <script src="{{site.baseurl}}/js/jquery.js"></script>
  <script src="{{site.baseurl}}/js/main.js"></script>
</body>
</html>
