---
layout: content
---
<div class="grid wrapper pad-t pad-b island-1-2">
  <div class="unit [ xs-1 m-1-3 ] island-1-2">
    {% include patterns/navigation/page-nav.liquid %}
  </div>
  <div class="unit [ xs-1 m-2-3 ]">
    <section id="about" class="">
      <div class="island-1-2">
        {{ content }}
      </div>
    </section>
    {% capture propertyCheck %}{% for property in site.locations %}{% if property.layout == 'landmark' and property.family == page.title and property.discovered == true or property.layout == 'landmark' and property.family == "Findren Estate" and site.data.view-controls.dm-view == true %}1{% break %}{% endif %}{% endfor %}{% endcapture %}
    {% if propertyCheck != '' %}
    <section>
      <div class="island-1-2">
        <h2 id="properties">Properties</h2>
        {% for property in site.locations %}
        {% if property.layout == 'landmark' and property.family == page.title and property.discovered == true or property.layout == 'landmark' and property.family == "Findren Estate" and site.data.view-controls.dm-view == true %}
        <h3 id="{{ property.title | downcase | replace: " ", "-" }}"><a href="{{site.baseurl}}{{property.url}}">{{ property.title }}</a></h3>
        {{ property.content | markdownify }}
        {% endif %}
        {% endfor %}
      </div>
    </section>
    {% endif %}
    {% capture resCheck %}{% for npc in site.npcs %}{% if npc.family.title == page.title and npc.family.discovered == true and npc.discovered == true or npc.family.title == page.title and site.data.view-controls.dm-view == true %}1{% break %}{% endif %}{% endfor %}{% endcapture %}
    {% if resCheck != '' %}
    <section class="pad-t-2 pad-b-2">
      <h2 id="family-members" class="gutter-1-2">Family Members</h2>
      <ol id="resident-list" class="grid grid-stretch filter-grid list-group pad-t-1-2 pad-b-1-2 all">
        {% for npc in site.npcs %}
        {% if npc.discovered == true and npc.family.title == page.title and npc.family.discovered == true or site.data.view-controls.dm-view == true and npc.loopExclude != true and npc.family.title == page.title %}
        <li class="unit [ xs-1 m-1-2 ] island-1-2 {% if npc.faction.discovered == true or site.data.view-controls.dm-view == true %}{{ npc.faction.title | downcase | replace: " ", "-" }}{% endif %}{% if npc.faction.discovered != true %} unaligned{% endif %}">
          {% include patterns/cards/preview-list-item.liquid img=npc.img url=npc.url title=npc.title %}
        </li>
        {% endif %}
        {% endfor %}
      </ol>
    </section>
    {% endif %}
  </div>
</div>
